<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="task_form">
        <%= render 'shared/task_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Upcoming Tasks</h3>
      <%= form_tag root_path, method: :get do %>
        <%= select_tag :tag_id,
                       options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
                       {
                         prompt: 'Filter',
                         onchange: 'submit(this.form);'
                       }
        %>
      <% end %>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
<div class="center jumbotron">
  <h1>Welcome to the ToDo App</h1>

  <h2>
    これは勉強用のToDoアプリです。
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<% end %>