<li id="task-<%= task.id %>">
  <span class="title"><%= task.title %></span>
  <span class="due_date">期限：<%= task.due_date %></span>
  <span class="priority">優先度：<%= task.priority %></span>
  <span class="memo"><%= task.memo %></span>
</li>