<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.name %>
      </h1>
      <% if current_user.admin? && !current_user?(@user) %>
        | <%= link_to "delete", @user, data: { "turbo-method": :delete,
                                          turbo_confirm: "You sure?" } %> |
        <% end %>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.tasks.any? %>
      <h3>Completed Tasks (<%= @user.tasks.where(state: true).count %>)</h3>
      <ol class="tasks">
        <%= render @tasks %>
      </ol>
      <%= will_paginate @tasks %>
    <% end %>
  </div>
</div>